.form {
  max-width: 460px;
  width: 100%;
  z-index: 5;

  p {
    margin-bottom: 45px;
    font-size: $font-text;
  }

  &__item {
    margin: 0 0 16px 0;
    display: block;
    position: relative;
    margin-bottom: 25px;
    transition: margin-bottom 0.3s linear;
  }

  // &__input,
  // &__area {
  //   width: 100%;
  //   padding: 15px;
  //   border-radius: $border-form-radius;
  //   border: 1px solid $gray-100;
  //   font-size: $font-text;
  //   line-height: $lh-text;
  //   color: $gray-500;
  //   box-shadow: none !important;
  //   -webkit-appearance: none;
  //   -moz-appearance: none;
  //   appearance: none
  // }

  .textarea {
    min-height: 150px;
  }


  &__button {
    width: 100%;

    &:hover {
      background-color: $yellow-300;
    }

    &::before {
      display: none;
    }
  }
}
